*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    padding-top: 0;
}

.no_description_app{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 40px;
    margin-top: 10px;
}

.skip_text{
    font-family: "Poppins";
    font-size: 20px;
    color: blue;
    text-decoration: underline;
}

.img_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#main_img{
    width: 80%;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.title_container{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
h1{
    font-family: "Poppins";
    font-size: 45px;
    color: #2B6AA9;
}
  
  .carousel-container {
    width: 100%;
    height: 185px;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
  }
  
  .carousel-content {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    animation: slide-animation 10s infinite; /* Cambia '8s' al tiempo deseado */
  }
  
  .carousel-item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    font-family: "Poppins";
    color: #2B6AA9;
    font-size: 25px;
  }
  
  @keyframes slide-animation {
    0% {
      transform: translateX(0%);
    }
    33.33% {
      transform: translateX(-100%);
    }
    66.67% {
      transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
  }

  .button_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  #button_login{
    height: 70px;
    width: 50%;
    font-family: "Poppins";
    font-size: 22px;
    background-color: #B0E2F1;
    color: #2B6AA9;
    font-weight: 500;
    border-style: none;
    border-radius: 10px;
  }
  