<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weolcome to Santa Cruz</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><span class="material-symbols-outlined">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="./css/colors.css">
    <link rel="stylesheet" href="./css/inicio.css">
</head>

<body>

  <section class="no_description_app">
    <a class="skip_text" href="/src/client/file_group_2/login/login.html">Saltar >></a>
  </section>

  <div class="img_container">
    <img id="main_img" src="./resources/img_principal.png" alt="img_principal">
  </div>

  <div class="title_container">
    <h1>Santa Cruz</h1>
  </div>

  <div class="carousel-container">
    <div class="carousel-content">
      <div class="carousel-item">Visualiza las consultas medicas, los doctores, enfermeros y pacientes que se encuentren
        dentro de Santa Cruz</div>
      <div class="carousel-item">Interactua con el diccionario de farmacos y manuales de uso de los instrumentos medicos
      </div>
      <div class="carousel-item">Administra expedientes e historiales medicos de una forma rapida y segura, con el uso
        de base de datos</div>
    </div>
  </div>

  <form action="/Start" method="post" class="button_container">
    <input type="submit" id="button_login" value="Comenzar">
  </form>
</body>

</html>