body{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.SectionInfo{
    width: 100%;
    background-color: var(--CleanBlue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

.BackButton{
    fill: var(--Blue);
    background-color: var(--CleanBlue);
    border: none;
    transition: all 0.5s ease;
}

.BackButton:hover{
    fill: var(--DarkBlue);
}

.SectionInfoDetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--Blue);
    fill: var(--Blue);
}

.SectionInfoText{
    margin-left: 5px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
}

.SectionInfoIcon{
    margin-left: 5px;
    margin-right: 5px;
}

.ContentInfo{
    display: flex;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    align-items: center;
}

.ContentDetails{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    color: var(--Blue);
    fill: var(--Blue);
}

.ContentIcon{
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

.ContentText{
    display: flex;
    flex-direction: column;
}

.ContentTitle{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.ContentTextSmall{
    margin: 0;
    margin-bottom: 10px;
}

.Separator{
    background-color: var(--Blue);
    height: 2px;
    width: 100%;
}

.AddInfoSection{
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.AddInfoSectionDetails{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    color: var(--Blue);
    fill: var(--Blue);
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}

.AddInfoSectionText{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.AddInfoSectionIcon{
    height: 30px;
    width: 30px;
}

.AddDetails{
    margin-top: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

.AddDetailsElement{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.AddDetailsText{
    margin: 0;
    font-size: 17px;
    color: var(--Blue);
    font-weight: bolder;
}

.AddDetailsInput{
    width: 100%;
    font-size: 17px;
    font-weight: bolder;
    color: var(--Blue);
    background-color: var(--CleanBlue);
    border: 0;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
}

.AddDetailsInput::placeholder{
    color: var(--BlueTranslucent);
}

.AddMailBtnSection{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    margin-top: 20px;
}

.AddMailBtn{
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--Blue);
    fill: var(--Blue);
    transition: all 0.2s ease;
    background-color: white;
    border: none;
}

.AddMailBtn:hover{
    color: var(--DarkBlue);
    fill: var(--DarkBlue);
}

.AddMailBtnIcon{
    width: 40px;
    height: 40px;
}

.NavigationBarSection{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.NavigationBar{
    display: flex;
    background-color: var(--CleanBlue);
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 30px var(--Shadow);
}

.NavBtn{
    color: var(--Blue);
    background-color: var(--CleanBlue);
    border: none;
    fill: var(--Blue);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBtn:hover{
    color: var(--DarkBlue);
}

.NavBtn:hover .NavBtnIcon{
    fill: var(--DarkBlue);
}

.NavBtnIcon{
    fill: var(--Blue);
    height: 30px;
    width: 30px;
    transition: all 0.2s ease;
}