*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    margin: 0;
    padding: 0;
    padding-top: 0;
    margin-bottom: 70px;
}

.header_page{
    background-color: var(--CleanBlue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.header_icons_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#patient_label_text{
    color: var(--DarkBlue);
    font-size: 18px;
    font-weight: 500;
}

.header_icons{
    width: 32px;
    height: 32px;
    fill: var(--DarkBlue);
}

.search_container{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_search{
    background-color: #B0E2F1;
    width: 95%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

#input_text{
    height: 100%;
    width: 70%;
    border-style: none;
    background-color: #B0E2F1;
    font-size: 18px;
    font-family: "Poppins";
    color: #2B6AA9;
}
#input_text::placeholder{
    color: #2B6AA9;
}
#input_text:focus{
    outline: none;
}

.icons_input{
    fill: #2B6AA9;
    height: 30px;
    width: 30px;
}
#filter_icon{
    rotate: 90deg;
}

.div_section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
}

.letter_dashed{
    color: var(--Blue);
    font-size: 30px;
}

.dashed_div{
    border-color: var(--Blue);
    border-style: dashed;
    border-width: 3px;
    width: 85%;
    height: 5px;
}

.medicament_list_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.button_medicine_list{
    width: 90%;
    height: 70px;
    background-color: var(--CleanBlue);
    border-style: none;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
}

.icon_list_medicine{
    fill: var(--Blue);
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.name_medicament{
    color: var(--Blue);
    font-size: 14px;
}

.NavigationBarSection{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.NavigationBar{
    display: flex;
    background-color: var(--CleanBlue);
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 0px 0px 30px var(--Shadow);
}

.NavBtn{
    color: var(--Blue);
    background-color: var(--CleanBlue);
    border: none;
    fill: var(--Blue);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavBtn:hover{
    color: var(--DarkBlue);
}

.NavBtn:hover .NavBtnIcon{
    fill: var(--DarkBlue);
}

.NavBtnIcon{
    fill: var(--Blue);
    height: 30px;
    width: 30px;
    transition: all 0.2s ease;
}